SUBSYSTEMS=="net",ACTION=="add",KERNEL=="cifx*",PROGRAM+="/bin/sh -c 'chgrp cifx /sys/class/net/cifx%n/uevent;chmod 0664 /sys/class/net/cifx%n/uevent;/usr/sbin/cifxeth init cifx%n'"
SUBSYSTEMS=="net",ACTION!="remove",KERNEL=="cifx*",ENV{ID_VENDOR_FROM_DATABASE}="Hilscher Gesellschaft fuer Systemautomation mbH",ENV{ID_MODEL_FROM_DATABASE}="Fieldbus interface"
SUBSYSTEMS=="net",ACTION=="online",KERNEL=="cifx*",PROGRAM="/bin/sh -c '/usr/sbin/cifxeth start cifx%n'"
SUBSYSTEMS=="net",ACTION=="offline",KERNEL=="cifx*",PROGRAM="/bin/sh -c '/usr/sbin/cifxeth stop cifx%n'"
SUBSYSTEMS=="net",ACTION=="remove",KERNEL=="cifx*",PROGRAM="/bin/sh -c '/usr/sbin/cifxeth stop cifx%n'"
SUBSYSTEMS=="net",ACTION=="change",KERNEL=="cifx*",PROGRAM="/bin/sh -c '/usr/sbin/cifxeth change cifx%n'"
